body {
    font-family: Arial;
    background:#0b0f2a;
    color:white;
    text-align:center;
}
.panel{
    background:#1b224f;
    margin:20px auto;
    padding:20px;
    width:400px;
    border-radius:15px;
}
button{
    padding:10px;
    margin:5px;
    font-size:16px;
    background:#4cafef;
    border:none;
    border-radius:8px;
    color:white;
}